*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}
#main {
    width: max-content;
    margin: 40px auto;
    font-family: "Segoe UI", sans-serif;
    padding: 25px 28px;
    margin-top: -250px;
    border-radius: 20px;
    border: 1px solid #6D6FF7;
    animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);

}
@keyframes popup {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #e7e7e7;
}
.input-parent {
    display: block;
    margin-bottom: 20px;
}
label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #a4a4a4;
}
.input-parent input {
    padding: 10px 8px;
    width: 100%;
    font-size: 16px;
    background: #323131;
    border: none;
    color: #c7c7c7;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
}
.input-parent input:hover {
    background: #404040;
}
.input-parent input:focus {
    box-shadow: 0px 0px 0px 1px #0087ff;
}
button {
    padding: 10px 18px;
    font-size: 15px;
    background: #1a3969;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: #f4f4f4;
    transition: all 0.2s ease;
}
button:hover {
    opacity: 0.9;
}
button:focus {
    box-shadow: 0px 0px 0px 3px black;
}

/*index*/
body{
  background-image: url('back.jpg');
  color: white;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #6D6FF7;

    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid white;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #6D6FF7;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.box{
	display: flex;
	justify-content: center;
}

.form-container{
      display: flex;
      justify-content: center;
      position: absolute;
      top: 10%;
      text-align: center;
      width: 500px;
      height: 200px;
      background-color: #6f2232;
      flex-direction: column;
      border-radius: 20px;
}


.result-container{
  display: flex;
  justify-content: center;
}


.result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  margin-top: 100px;
  position: absolute;
  border-style: solid;
  border-color: #6D6FF7;
  top: 38%;
}

.itext{
  border:none;
  border-radius: 20px;
  padding: 15px;
  background-color: #1A1A1D;
  color:white;
  outline-color: #c3073f;
}

.itext:focus{
  outline:none;
  outline-color: #c3073f;
}


.isubmit{
  /*border: none;*/
  border-radius: 10px;
  padding: 10px;
  background-color: #1A1A1D;
  color:white;
  outline-color: #c3073f;

}
.isubmit:hover{
  /*background-color: #c3073f;*/
}

.kek{
	background-color:blue;
}

.piros{
	background-color:red;
}

.fekete{
	background-color:black;
}

.feher{
	background-color:white;
}

.zold{
	background-color:zold;
}

.sarga{
	background-color:yellow;
}
/*
@media all and (max-width:30em){
 a.button1{
  display:block;
  margin:0.4em auto;
 }
}*/
